 :root {

    /* Text Colour Variables */
    --primary-text-color: #000;
    --secondary-text-color: #fff;

    /* Background Colour Variables */
    --primary-bg-color: #241E20;
    --secondary-bg-color: #fff;

     /* Icon Colour Variables */
    --primary-icon-color: rgb(174, 193, 54);

 }


 
 /* CSS Reset */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
 }

 /* Section Defaults */

 section {
     width: 100%;
     overflow-x: hidden;
 }

/* Navbar Section */

 .navbar {
     display: flex;
     position: fixed;
     align-items: center;
     justify-content: space-between;
     padding: 1em;
     height: auto;
     z-index: 2;
     color: var(--secondary-text-color);
     background: var(--primary-bg-color);
 }

.navbar .navbar-cta {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0.5em 2em;
}

.navbar .navbar-cta .fa-mobile-alt {
    margin: 0 0.3em;
}

.navbar .navbar-cta, a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.navbar .social-icons .fa-facebook {
    margin: 0 0.3em;
}

.navbar .social-icons .fa-twitter {
    margin: 0 0.3em;
}

.navbar .social-icons .fa-instagram {
    margin: 0 0.3em;
}

.navbar .fas {
    text-decoration: none;
    color: var(--secondary-text-color)
}

#menu-wrapper {
    display: none;
}

.menu {
    position: absolute;
    top: 0;
    left:0;
    background: #241E20;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    min-height: 100%;
    z-index: 3;
    opacity: 0.99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;

}

.menu .fa-times-circle {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #fff;
}

.menu li {
    color: #fff;
    cursor: pointer;
    list-style: none;
    padding: 0.5em 0;
}



/* Hero Section */

.hero {
    width: 100%;
    height: 100vh;
    padding-top: 6rem;
    background: url("/img/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hero-cta {
      background: #241E20;
      color: #fff;
      width: 50%;
      padding: 5em;
      text-align: center;
  }

  .hero-cta > img, p {
      padding-bottom: 1em;
  }

  .hero-cta .btn {
    background: #fff;
    width: 50%;
    padding: 1em 0;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 300;
  }

  /* About Section */

 .about-grid {
    width: 100%;
    padding: 2em;
    background: #F2F2F2;
    display: grid;
    grid-template-areas:
    "image1 image2 about about"
    "image3 image3 about about"
    "image3 image3 image4 image5";
    grid-gap: 1em;
}

.image1 {
    grid-area: image1;
    width: 100%;
    height: auto;
}

.image2 {
    grid-area: image2;
    width: 100%;
    height: auto;
}

.about {
    grid-area: about;
    background: #000;
    color: #fff;
    padding: 2em;
    display: flex;
}


.about .about-text li {
    font-weight: 100;
    list-style: square;
    color: #fff;
}

.about-grid .about .fa-leaf {
    color: var(--primary-icon-color);
    margin-bottom: 0.5em;
}


.image3 {
    grid-area: image3;
    width: 100%;
}

.image4 {
    grid-area: image4;
    width: 100%;

}

.image5 {
    grid-area: image5;
    width: 100%;
}


/* Eco Section */

.eco {
    width: 100%;
    height: auto;
    padding: 5em 0;
}

.eco .eco-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 7em 2em 7em;

}

.eco-heading .fa-globe-europe {
    color: var(--primary-icon-color);

}

.eco .blocks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eco .blocks .block1 {
    width: 100%;
    padding: 2em;
    background: #000;
    color: #fff;
    width: 30%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}

.eco .blocks .block1 .fa-recycle {
    color: var(--primary-icon-color);
}

.eco .blocks .block2 {
    width: 100%;
    padding: 2em;
    background: #000;
    color: #fff;
    width: 30%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}

.eco .blocks .block2 .fa-mug-hot {
    color: var(--primary-icon-color);
}

.eco .blocks .block3 {
    width: 100%;
    padding: 2em;
    background: #000;
    color: #fff;
    width: 30%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}

.eco .blocks .block3 .fa-tint {
    color: var(--primary-icon-color);
}


/* Gallery Section */

.gallery {
    width: 100%;
    margin: auto;
    padding: 2em;
    display: grid;
    justify-items: center;
    grid-template-areas:
    "gallery1 gallery1 gallery2"
    "gallery1 gallery1 gallery3";
    grid-gap: 1em;
}

.gallery1 {
    grid-area: gallery1;
    width: 100%;
    height: auto;
}

.gallery2 {
    grid-area: gallery2;
    width: 100%;
    height: auto;
}

.gallery3 {
    grid-area: gallery3;
    width: 100%;
    height: auto;
}

/* EmailSection */


.email-section {
    width: 100%;
    height: auto;
    background: #F2F2F2;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.email-section h1 {
    width: 60%;
    padding-bottom: 1em;
}

.email-section p {
    width: 60%;
    padding-bottom: 3em;
}

.email-section .input1 {
    font-size: 1em;
    width: 90%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 0;
}

.email-section .message {
    font-size: 1em;
    width: 90%;
    height: 200px;
    padding: 10px 0 0 10px;
    margin-bottom: 25px;
    border: 0;
}

.email-section .button {
    width: 90%;
    display: inline-block;
    border: none;
    padding: 1em 2em;
    text-decoration: none;
    background: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
 






/* MEDIA QUERIES */


 /* SMARTPHONES PORTRAIT */
@media (max-width: 1024px) {

    .navbar {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        height: 10%;
        z-index: 2;
        color: var(--secondary-text-color);
        background: var(--primary-bg-color);
    }

    .navbar > img {
        width: 35%;
    }
   

   .navbar .navbar-cta {
       display: none;
   }
      
   .navbar .social-icons {
       display: none;
   }

   /* Slide Menu */





   /* Hero */

    .hero {
        width: 100%;
        height: 100vh;
        padding-top: 0.5em;
        background: url("/img/hero-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }


    .hero-cta {
        background: #241E20;
        color: #fff;
        width: 90%;
        height: auto;
        padding: 1.5em 2em;
        margin-top: -0.5em;
        text-align: center;
    }

    .hero-cta img {
        width: 50%;
        height: 50%;
    }

    .hero-cta .btn {
        background: #fff;
        width: 70%;
        padding: 1em 0;
        font-size: 1em;
        font-weight: 300;
    }

    .about-grid {
        width: 100%;
        padding:1em;
        background: #F2F2F2;
        display: grid;
        grid-template-areas:
        "image1 image1 image2 image2"
        "about about about about"
        "image3 image3 image4 image4"
        "image5 image5 image5 image5";
        grid-gap: 1em;
    }

    .eco .eco-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1em 2.5em 1em;
    }
    
    .eco .blocks {
        width: 100%;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .eco .blocks .block1 {
        width: 100%;
        padding: 2em;
        background: #000;
        color: #fff;
        width: 100%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }
    
    .eco .blocks .block2 {
        width: 100%;
        padding: 2em;
        background: #000;
        color: #fff;
        width: 100%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }
    
    .eco .blocks .block3 {
        width: 100%;
        padding: 2em;
        background: #000;
        color: #fff;
        width: 100%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }

        /* Gallery Section */

        .gallery {
            width: 100%;
            padding: 0 2em 2em 2em;
            display: grid;
            justify-items: center;
            grid-template-areas:
            "gallery1 gallery1"
            "gallery2 gallery3";
            grid-gap: 1em;
        }
        
        /* Email Section */

        .email-section p {
            width: 90%;
            padding-bottom: 3em;
        }
        
    
}




/* SMARTPHONES LANDSCAPE */
@media (min-width: 480px) {


}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {


}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}

    