 :root {

    /* Text Colour Variables */
    --primary-text-color: #000;
    --secondary-text-color: #fff;

    /* Background Colour Variables */
    --primary-bg-color: #241E20;
    --secondary-bg-color: #fff;

     /* Icon Colour Variables */
    --primary-icon-color: rgb(174, 193, 54);

 }
 
 /* CSS Reset */

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
 }

 /* Section Defaults */

 section {
     width: 100%;
     overflow-x: hidden;
 }

/* Navbar Section */

 .navbar {
     display: flex;
     position: fixed;
     align-items: center;
     justify-content: space-between;
     padding: 1em;
     height: auto;
     z-index: 2;
     color: var(--secondary-text-color);
     background: var(--primary-bg-color);
 }

.navbar .navbar-cta {
    display: flex;
    align-items: center;
    background: var(--secondary-bg-color);
    padding: 0.5em 2em;
}

.navbar .navbar-cta, h2 a {
    color: var(--primary-text-color);
}

.navbar .navbar-cta .fa-mobile-alt {
    margin: 0 0.3em;
}

.navbar .navbar-cta, a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.navbar .social-icons {
    display: flex;
}

.navbar .social-icons .fa-facebook {
    color: var(--secondary-text-color);
    margin: 0 0.3em;
}

.navbar .social-icons .fa-twitter {
    color: var(--secondary-text-color);
    margin: 0 0.3em;
}

.navbar .social-icons .fa-instagram {
    color: var(--secondary-text-color);
    margin: 0 0.3em;
}

.navbar .fa-bars {
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary-text-color)
}

#menu-wrapper {
    display: none;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #241E20;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    z-index: 3;
    opacity: 0.99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu > img {
    width: 20%;
    height: 100%;
}

.menu .fa-times-circle {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #fff;
}

.menu li {
    color: #fff;
    cursor: pointer;
    list-style: none;
    padding: 0.5em 0;
}

/* Hero Section */

.hero {
    width: 100%;
    height: 100vh;
    padding-top: 6rem;
    background: url("/img/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .hero-cta {
      background: #241E20;
      color: #fff;
      width: 50%;
      padding: 5em;
      text-align: center;
  }

  .hero-cta > img, p {
      padding-bottom: 1em;
  }

  .hero-cta .btn {
    background: #fff;
    width: 50%;
    padding: 1em 0;
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 300;
  }

  .hero-cta .btn > a {
      color: #000;
  }

  /* About Section */

 .about-grid {
    width: 100%;
    padding: 2em;
    background: #F2F2F2;
    display: grid;
    grid-template-areas:
    "image1 image2 about about"
    "image3 image3 about about"
    "image3 image3 image4 image5";
    grid-gap: 1em;
}

.image1 {
    grid-area: image1;
    width: 100%;
    height: auto;
}

.image2 {
    grid-area: image2;
    width: 100%;
    height: auto;
}

.about {
    grid-area: about;
    background: #000;
    color: #fff;
    padding: 2em;
    display: flex;
}


.about .about-text li {
    font-weight: 100;
    list-style: square;
    color: #fff;
}

.about-grid .about .fa-leaf {
    color: var(--primary-icon-color);
    margin-bottom: 0.5em;
}


.image3 {
    grid-area: image3;
    width: 100%;
}

.image4 {
    grid-area: image4;
    width: 100%;

}

.image5 {
    grid-area: image5;
    width: 100%;
}


/* Eco Section */

.eco-section {
    width: 100%;
    height: auto;
    padding: 5em 0;
}

.eco-section .eco-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 7em 2em 7em;

}

.eco-section .eco-heading .fa-globe-europe {
    color: var(--primary-icon-color);

}

.eco-section .blocks {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eco-section .blocks .block1 {
    width: 100%;
    padding: 2em;
    background: #000;
    color: #fff;
    width: 30%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}

.eco-section .blocks .block1 .fa-recycle {
    color: var(--primary-icon-color);
}

.eco-section .blocks .block2 {
    width: 100%;
    padding: 2em;
    background: #000;
    color: #fff;
    width: 30%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}

.eco-section .blocks .block2 .fa-mug-hot {
    color: var(--primary-icon-color);
}

.eco-section .blocks .block3 {
    width: 100%;
    padding: 2em;
    background: #000;
    color: #fff;
    width: 30%;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1em;
}

.eco-section .blocks .block3 .fa-tint {
    color: var(--primary-icon-color);
}


/* Gallery Section */

.gallery {
    width: 100%;
    margin: auto;
    padding: 2em;
    display: grid;
    justify-items: center;
    grid-template-areas:
    "gallery1 gallery1 gallery2"
    "gallery1 gallery1 gallery3";
    grid-gap: 1em;
}

.gallery1 {
    grid-area: gallery1;
    width: 100%;
    height: auto;
}

.gallery2 {
    grid-area: gallery2;
    width: 100%;
    height: auto;
}

.gallery3 {
    grid-area: gallery3;
    width: 100%;
    height: auto;
}

/* EmailSection */


.email-section {
    width: 100%;
    height: auto;
    background: #F2F2F2;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.email-section h1 {
    width: 60%;
    padding-bottom: 1em;
}

.email-section p {
    width: 60%;
    padding-bottom: 3em;
}

.email-section .input1 {
    font-size: 1em;
    width: 90%;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    border: 0;
}

.email-section .message {
    font-size: 1em;
    width: 90%;
    height: 200px;
    padding: 10px 0 0 10px;
    margin-bottom: 25px;
    border: 0;
}

.email-section .button {
    width: 90%;
    display: inline-block;
    border: none;
    padding: 1em 2em;
    text-decoration: none;
    background: #000;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}
 
.footer-section {
    background: var(--primary-bg-color);
    color: var(--secondary-text-color);
    width: 100%;
    padding: 3em 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.footer-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.bottom-footer {
    background: var(--primary-bg-color);
    color: var(--secondary-text-color);
    width: 100%;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-section, a {
    color: white;
}

.right-section .fa-mobile-alt {
    margin: 0.3em 0;
}

.right-section .fa-envelope {
    margin: 0.3em 0;
}

.bottom-footer .social-icons .fa-facebook {
    margin: 0 0.2em;
}

.bottom-footer .social-icons .fa-twitter {
    margin: 0 0.2em;
}

.bottom-footer .social-icons .fa-instagram {
    margin: 0 0.2em;
}


/* -------------- Menu Section ---------------- */


.title-header {
    background: var(--primary-bg-color);
    color: var(--secondary-text-color);
    width: auto;
    margin: 9em 1em 1em 1em;
    padding: 2em;
    text-align: center;
}

.menu-section {
    margin: auto;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.menu-section .menu-wrapper {
    width: 100%;
    height: auto;
    padding: 1em;
}

.menu-section .menu-header {
    background: #676062;
    color: var(--secondary-text-color);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    margin: 1em;
}

.menu-section .items .justify {
    padding: 0 2em;
    display: flex;
    justify-content: space-between;
}


.menu-section .ad {
    background: var(--primary-bg-color);
    color: var(--secondary-text-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    font-size: 1.8em;
    padding: 0 5em;
}

.menu-section .ad .fa-pagelines {
    color: var(--primary-icon-color);
    margin-bottom: 0.2em;
}


/* Contact Section */

.map-section {
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 10em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.map-section > img {
    width: 60%;
    height: 100%;
    margin: 2em 0;
}

.map-section .contact-info {
    padding-top: 4.5em;
}

.map-section .contact-info, a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);
}








/* ---------------------------------------------------------------- */








/* MEDIA QUERIES */


 /* SMARTPHONES PORTRAIT */
@media (max-width: 1024px) {

    .navbar {
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        height: 10%;
        z-index: 2;
        color: var(--secondary-text-color);
        background: var(--primary-bg-color);
    }

    .navbar > .nav-image {
        width: 100%;
        height: 100%;
    }
   

   .navbar .navbar-cta {
       display: none;
   }
      
   .navbar .social-icons {
       display: none;
   }


   /* Hero */

    .hero {
        width: 100%;
        height: 100vh;
        padding-top: 0.5em;
        background: url("/img/hero-image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: 1;
    }


    .hero-cta {
        background: #241E20;
        color: #fff;
        width: 85%;
        height: auto;
        padding: 1.5em 2em;
        margin-top: -2em;
        text-align: center;
    }

    .hero-cta img {
        width: 50%;
        height: 50%;
    }

    .hero-cta .btn {
        background: #fff;
        width: 70%;
        padding: 1em 0;
        font-size: 1em;
        font-weight: 300;
    }

    .about-grid {
        width: 100%;
        padding: 3em 1em;
        background: #F2F2F2;
        display: grid;
        grid-template-areas:
        "image1 image1 image2 image2"
        "about about about about"
        "image3 image3 image4 image4"
        "image5 image5 image5 image5";
        grid-gap: 1em;
    }

    .eco-section {
        padding: 3em 0;
    }

    .eco-section .eco-heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1em 2.5em 1em;
    }
    
    .eco-section .blocks {
        width: 100%;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .eco-section .blocks .block1 {
        width: 100%;
        padding: 2em;
        background: #000;
        color: #fff;
        width: 100%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }
    
    .eco-section .blocks .block2 {
        width: 100%;
        padding: 2em;
        background: #000;
        color: #fff;
        width: 100%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }
    
    .eco-section .blocks .block3 {
        width: 100%;
        padding: 2em;
        background: #000;
        color: #fff;
        width: 100%;
        height: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }

        /* Gallery Section */

        .gallery {
            width: 100%;
            padding: 0 2em 2em 2em;
            display: grid;
            justify-items: center;
            grid-template-areas:
            "gallery1 gallery1"
            "gallery2 gallery3";
            grid-gap: 1em;
        }
        
        /* Email Section */

        .email-section p {
            width: 90%;
            padding-bottom: 3em;
        }

        .footer-section {
            background: var(--primary-bg-color);
            color: var(--secondary-text-color);
            width: 100%;
            padding: 3em 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
        }

        .footer-section > p, a {
            color: #fff;
        }
        
        .footer-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

        .left-section {
            padding-bottom: 3em;
        }
        
        
        .bottom-footer {
            background: var(--primary-bg-color);
            color: var(--secondary-text-color);
            width: 100%;
            padding-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .right-section > a {
            color: white;
        }
        
        .bottom-footer .social-icons {
            color: #fff;
        }

        .bottom-footer a {
            color: #fff;
            padding-bottom: 1em;
        }

        
    /* Menu Section */

    .title-header {
        background: var(--primary-bg-color);
        color: var(--secondary-text-color);
        width: auto;
        margin: 5em 0.5em 0.5em 0.5em;
        padding: 1em;
        text-align: center;
    }
    

    .menu-section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .menu-section .menu-header {
        background: #676062;
        color: var(--secondary-text-color);
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        margin: 1em 0;
    }
    
    .menu-section .items .justify {
        padding: 0 0.2em;
        display: flex;
        justify-content: space-between;
    }
    
    .menu-section .ad {
        background: var(--primary-bg-color);
        color: var(--secondary-text-color);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 400;
        font-size: 1.8em;
        padding: 2em;
        margin: 1em 0;
    }
    
    /* Contact Section */

.map-section {
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.map-section > img {
    width: 90%;
    height: 100%;
    margin: 2em 0;
}

.map-section .contact-info {
    padding-top: 4.5em;
}

.map-section .contact-info, a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-text-color);
}
        
    
}




/* SMARTPHONES LANDSCAPE */
@media (min-width: 480px) {


}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {


}


/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {


}

    